
/* HOME PAGE */
body {
    font: 16px/30px "Rubik", sans-serif;
    background-color: #fff;
    color: #434e6e;
}

.overlay-ft {
    background-color: #434e6e;
    width: 100%;
    height: 100%;
} 
.header-style2 .logo{
    width: 30%;
}
#mainnav-mobi .current-menu-item > a, 
#mainnav-mobi ul .current-menu > a, 
#mainnav-mobi ul li ul .current-menu-ancestor > a, 
#mainnav-mobi ul li ul .current-menu-ancestor ul .current-menu-item > a, 
#mainnav .menustyle2 .current-menu > a, #mainnav .menustyle2 > li > a:hover,
.top-search #searchform-all #searchsubmit {
    color: #599b47 !important;
}
#mainnav > .menustyle2 > li:before{
  background: #8ab97e !important;
}
.top-bar-style2 .top-content a, 
.top-bar-style2 .topbar-socials a,
.top-bar-style2 .top-content li a i::before {
    color: rgb(255, 255, 255) !important;
}
.top-bar-style2 .top-content a:hover, 
.top-bar-style2 .topbar-socials a:hover,
.top-bar-style2 .top-content li a:hover i::before {
    color: rgb(255, 255, 255) !important;
}
.top-bar-style2 .top-content .adress i {
    left: -18px;
    top: 0;
}
.top-bar-style2 .top-content .email i {
    left: -28px;
    top: 0;
}
.top-bar-style2{
  background-color: #599b47;
}
.overlay-slider1{
    background-color: #000;
    opacity: 0.4;
}
.slider-style2{
    background-image: url(../images/Slider/hero-slider-1920x755.png);
}
.flat-slider .text-one {
    color: #599b47;
}
.custom.tparrows {
    background: #8ab97e;
}
.custom.tparrows:hover {
    background: #599b47;
}
.themesflat-button-style2 span{
    border-radius: 5px;
    background-color: #599b47;
    color: #ffffff;
}
.btn-top .btn-style-4 .btn-title{
    background-color: #599b47;
    border: 1px solid #599b47;
    border-radius: 5px;
    width: 100%;
}
.search-btn .btn-style-4:hover .btn-title {
  color: #599b47;
  border:1px solid #599b47 !important;
}
.btn-style-4 .btn-title::before {
    background-color: #ffffff;
    color: #599b47 !important;
    border: 2px solid #599b47;
    width: 100%;
}
.btn-style-4:hover .btn-title {
    color: #599b47;
}
.btn-style-two .btn-title::before {
    width: 100%;
}
.btn-style-two:hover .btn-title {
    color: #599b47 !important;
    border: 2px solid #599b47;
    border-radius: 5px;
}
.about2 .bg-img {
    background-color: #599b47 !important;
}
.title-section .sub-title {
    color: #599b47 !important;
}
.flat-tabs .menu-tab li:hover a,
.flat-tabs .menu-tab li.active a {
    background-color: #599b47 !important;
    color: #ffffff !important;
}
.flat-tabs-type4 {
    background-color: #ddebda;
}
.flat-tabs-type4 .content-tab .case{
    background-color: #599b47;
}
.flat-tabs-type4 .menu-tab{
    width: 55%;
}
.flat-tabs-type4 .menu-tab li a {
    margin: 0px;
}
.flat-tabs-type4 .featured-post .title a:hover {
    color: #ffffff;
}
.custom .tp-bullet:hover,
.custom .tp-bullet.selected {
  background: #599b47;
}
.iconlist-about li,
.icon-box li{
    width: 48%;
    margin: 1%;
    padding: 0.5%;
    background-color: #ddebda;
}
.iconlist-about li::before,
.icon-box li::before {
    background-color: #599b47;
}
.iconlist-about li:hover::before,
.icon-box li:hover::before{
    background-color: transparent;
    color:  #8ab97e;
}
.icon-window{
    background-color: #599b47;
}
.bg-color-style3,
.bg-color-style5 {
    background-color: #ddebda !important;
}
.subscribe .box1-subscribe {
    float: left;
    width: 45%;
}
.subscribe .box2-subscribe {
    float: right;
    width: 50%;
}
.what-we-do-style .image-box .title-imagebox a:hover{
    color: #599b47;
}
.testimonials-style .icon-list .icon-material::before,
.testimonials-style .icon-list .icon-heart::before,
.testimonials-style .icon-list .icon-ios-people::before {
    color: #ffffff;
    background-color: #599b47;
}
.testimonials-style .icon-list .icon-material:hover::before,
.testimonials-style .icon-list .icon-heart:hover::before, 
.testimonials-style .icon-list .icon-ios-people:hover::before {
    color: #599b47;
    background-color: #ffffff;
}
.boxtestimonial .image::after {
    background-color: #599b47;
    color: #ffffff;
}
.post-calendar .entry-calendar {
    background-color: #599b47;   
}
.content-blog .post-meta a:hover,
.content-blog .flat-read-more a:hover,
.content-blog .flat-read-more i,
.content-blog a:hover{
    color: #599b47;
}
.questions-style .image-form .icon-phone-style2::before{
    background-color: #ddebda;
}
.questions-style2 .btn-style-5 .btn-title::before{
    background-color: #ffffff !important;
    color: #599b47 !important;
    border: 1px solid #599b47;
    border-radius: 5px;
    width: 100%;
}
.themesflat-button-style3 span{
    background-color: #599b47 !important;
    color: #ffffff !important;
}
.btn-style-5:hover .btn-title {
    color: #599b47 !important;
}
#footer .topbar-socials a {
    color: #599b47;
    background-color: #ddebda;
}
.icon-socialgg:before,
.icon-socialin:before {
    color: #599b47;
}
#footer .topbar-socials a:hover {
    color: #ddebda !important;
    background-color: #599b47 !important;
}
.call-us .icon-call-us::before,
.footer-contact .mail .icon-mail::before,
.footer-contact .phone .icon-phone::before {
    color: #599b47;
}
.link ul li a:hover {
    color: #599b47;
}
.footer {
    background-image: url(../images/header/footer-bg-1920x839.png);
}
#footer p {
    margin: 5% 2.5%;
}
#botom {
    height: auto !important;
}
#botom a:hover {
    color: #599b47;
}
.footer-links{
    margin: 0%;
    line-height: 60px;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
}
.go-top {
    background-color: #599b47;
    border-radius: 25%;
}
.go-top:hover {
    background-color: #ffffff;
    border: 1px solid #599b47;
    border-radius: 25%;
}
.go-top:hover i {
    color: #599b47;
}

.webing-whatsapp-button {
    position:fixed;
    bottom: 0%;
    left: 0%;
    z-index: 9999;
}
.webing-whatsapp-button a {
    display: block;
    transition: all .3s ease;
    color: #ffffff;
    padding: 5%;
}
.webing-whatsapp-button a img {
    display: block;
    width: 25%;
    height: auto;
}


/* ABOUT PAGE */
.page-title{
    padding: 0%;
    z-index: 0;
}
.page-title-inner{
    background-image: url(../images/header/sub-hero-1920x500.png);
}
.overlay-page-tile {
    background-color: #ddebda;
    opacity: 0.7;
}
.page-title-content .blog-title{
    color: #599b47 !important;
}
.bg-img-style2 {
    background-color: #599b47;
}
.page-title-content .blog-title span,
.hv-color-st1{
    color: #599b47 !important;
}
.hv-color-st1:hover {
    color: #ffffff !important;
}
.page-title-content .blog-title a::after {
    background-color: #599b47;
}
.image-box-team .topbar-socials a,
.image-box-team .topbar-socials .active,
.image-box-team .topbar-socials a:hover {
  background-color: #ddebda;
}
.icon-medal:before {
    color: #599b47 !important;
}

/* WINDOWS PAGE & DOORS PAGE & PARTITIONS PAGE */
.icon-box-dor li {
    height: 80px;
    line-height: 77px;
    max-width: 250px;
}
.list-window1 .icon-box-dor li{
    float: left;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 2.5%;
}
.list-window2 .menu-tab{
    margin-left: 0%;
}
.vertical-bar .bar {
    background-color: #599b47;
}
.partners-style3 .owl-carousel .owl-nav button{
    display: none;
    background-color: #599b47 !important;
    color: #fff;
    border: 2px solid #599b47;
    height: 50px;
    width: 50px;
}
.partners-style3 .owl-carousel .owl-nav button:hover{
    background-color: #ffffff !important;
    color: #599b47;
    border: 2px solid #599b47;
}
.partners-style3 .owl-carousel .owl-nav .owl-next::after,
.partners-style3 .owl-carousel .owl-nav .owl-prev::after{
    font-size: 20px !important;
    top: 15%;
    left: 15%;
}
.tf-list-service .list-window a:hover,
.tf-list-service .list-service a:hover{
    color: #599b47;
}
.windows .flat-tabs .menu-tab-style li a {
    padding: 25px 50px 20px 50px !important;
}
.doors .flat-tabs .menu-tab-style li a {
    padding: 25px 100px 20px 100px !important;
}
.partitions .flat-tabs .menu-tab-style li a {
    padding: 25px 100px 20px 100px !important;
}
.tabs-garallry .flat-tabs .menu-tab li{
    margin-bottom: 2.5%;
}
.content-inner .col-tab .row {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center !important;
    margin-bottom: 2.5%;
}
.content-inner .col-tab .row strong{
    color: #599b47;
}
.content-inner .image-profolio h4{
    margin-top: 2.5%;
}

/* CONTACT PAGE */
.questions-contact .bg-color {
    background-color: #599b47 !important;
}
.content-form .title-section .sub-title {
    color: #ffffff !important;
}
.questions-contact .themesflat-button-style3 span {
    background-color: #599b47 !important;
    color: #ffffff !important;
}
.questions-contact .btn-style-5:hover .btn-title{
    color: #599b47 !important;
}
.questions-style .content-form .topbar-socials a{
    color: #599b47 !important;
    border: 2px solid #ffffff;
}
.questions-style .content-form .topbar-socials a:hover{
    background-color: #8ab97e;
    border: 2px solid #ffffff;
}
.contact-us-style li span i{
    background-color: #599b47;
    color: #fff !important;
}
.btn-style-6:hover .btn-title {
    color: #599b47;
}
.btn-style-6 .btn-title::before {
    background-color: #ffffff;
    width: 100%;
    border: 2px solid #599b47;
}
.subscribe .box2-subscribe .form-email button {
    line-height: 62px;
}

/* BROCHURES-CATALOGUE PAGE*/
.tf-company-brochure .scene {
    width: 500px;
    height: 500px;
    margin: auto;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.tf-company-brochure .book {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.tf-company-brochure .page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    -webkit-transition: 1.5s -webkit-transform;
    transition: 1.5s transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;  
    -webkit-transform-origin: left center;  
    -ms-transform-origin: left center;  
    transform-origin: left center;
}
.tf-company-brochure .front,
.tf-company-brochure .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.tf-company-brochure .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.tf-company-brochure .page.active {
    z-index: 1;
}
.tf-company-brochure .page.flipped {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.tf-company-brochure .page.flipped:last-of-type {
    z-index: 1;
}


/* RESPOVSIVE VIEW */
@media only screen and (min-width: 1300px) {
    body {
        font: 19px/30px "Rubik", sans-serif !important;
        background-color: #fff;
        color: #434e6e;
    }
    .footer-h2 {
		margin-top: -15% !important;
	}
}
/* responsive code for Desktop */
@media only screen and (min-width: 1020px) {
    .tf-blog-slider .align-items-center {
        display: flex;
        align-items: center;
    }
    .tf-blog-slider .banners-z {
        margin: 10%;
    }
    .footer-h2 {
		margin-top: -20%;
	}
}
/* responsive code for tablet */
@media only screen and (max-width: 992px) {
	.iconlist-about li{
		margin-bottom: 1% !important;
	}
	.questions-style .image-form,
    .questions-style .form-questions {
		margin-bottom: 5% !important;
	}
    .about2 .about-us{
        margin-top: 20%;
    }
    .what-we-do-style1 .col-sm-4{
		width: 50% !important;
	}
    .what-we-do-style1 .col-sm-4:last-child{
        margin-left: 25%;
    }
    .page-title{
        padding: 10% 0% !important;
    }
    .about-page{
        margin-top: 15%;
    }
    .about-style .flat-tabs-about .menu-tab {
		display: flex !important;
		justify-content: space-evenly;
	}
    .about-style .col-md-12{
        width: 100%;
        margin: 2.5% 0%;
    }
    .tf-company-brochure .scene {
        width: 300px;
        height: 350px;
    }
    .footer-h2 {
		margin-top: -30%;
	}
    .questions-location{
        margin-top: 0px;
    }
}

/* responsive code for mobile */
@media only screen and (max-width: 576px) {
    .what-we-do-style1 .col-sm-4{
		width: 100% !important;
	}
    .what-we-do-style1 .col-sm-4:last-child{
        margin-left: 0%;
    }
    .iconbox-service ul li {
		width: 100% !important;
	}
    .top-bar-style2 .top-content {
		margin-left: 2.5%;
	}
    .about2 .about-us{
        margin-top: 0%;
    }
    .carousel{
		padding-top: 50px;
	}
    .footer-links{
        margin: 0%;
        line-height: 40px;
    }
    .footer-copyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .go-top.show{
        right: 5%;
        bottom: 5%;
    }
    .about-page{
        margin-top: 15%;
    }
    .about-style .flat-tabs-about .menu-tab {
		display: flex !important;
		justify-content: space-evenly;
	}
    .about-style .col-md-12{
        width: 100%;
        margin: 2.5% 0%;
    }
    .about-style .btn-about{
		bottom: -80px;
	}
    .flat-tabs-about .menu-tab-about li a {
        padding: 15px 30px;
    }
    .windows .flat-tabs .menu-tab-style li a {
        padding: 10px 14px !important;
    }
    .tf-company-brochure .scene {
        width: 150px;
        height: 200px;
    }
    .footer-h2 {
		margin-top: -40%;
	}
    
}











